<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Servers</title>
	
	<script type="text/javascript">
		function handleErrors(r) {
			if (!r.ok) {
				throw Error(r.statusText);
			}
			return r;
		}
	
		function getServers() {
			fetch('server/list')
			.then(handleErrors)
			.then(r => r.json())
			.then(r => {
				let l = document.getElementById('servers');
				if (r.length === 0) {
					l.innerHTML = '<p>You have no servers.</p>';
					return;
				}
				l.innerHTML = '';
				for (let x = 0; x < r.length; x++) {
					let p = document.createElement('p');
					p.innerHTML = JSON.stringify(r[x]);
					
					let a = document.createElement('a');
					a.innerHTML = 'start';
					a.href = 'javascript:void(0);';
					a.onclick = function() {
						fetch(`server/start/${r[x].server_id}`)
						.then(handleErrors)
						.then(data => console.log('starting server', data));
					}
					
					let a2 = document.createElement('a');
					a2.innerHTML = 'stop';
					a2.href = 'javascript:void(0);';
					a2.onclick = function() {
						fetch(`server/stop/${r[x].server_id}`)
						.then(handleErrors)
						.then(data => console.log('stopping server', data));
					}
					
					let a3 = document.createElement('a');
					a3.innerHTML = 'delete';
					a3.href = 'javascript:void(0);';
					a3.onclick = function() {
						fetch(`server/delete/${r[x].server_id}`)
						.then(handleErrors)
						.then(data => {
							console.log('deleting server', data);
							getServers();
						});
					}
					
					let d = document.createElement('div');
					d.appendChild(a);
					d.appendChild(a2);
					d.appendChild(a3);
					d.appendChild(p);
					
					l.appendChild(d);
				}
			});
		}
		
        window.onload = function() {
        	getServers();
        }
	</script>
</head>
<body>
	All your servers boi
	
	<a href="/">Home</a>
	<a id="new" href="server/new">New Server</a>
	
	<pre id="servers"></pre>
</body>
</html>