<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Servers</title>
	
	<script type="text/javascript">
		const FORM = 'serverForm';
	
		function handleErrors(r) {
			if (!r.ok) {
				throw Error(r.statusText);
			}
			return r;
		}
	
		function createServer() {
			let data = {
				name: document.getElementById('name').value,
				do_region: document.getElementById('region').value,
				do_size: document.getElementById('size').value,
				do_snapshot_id: document.getElementById('snapshot').value,
				ssh_key: document.getElementById('ssh').value
			};
			fetch('server/create', {
				method: 'POST',
				headers: {
					'Content-type': 'application/json; charset=UTF-8'
				},
				body: JSON.stringify(data)
			})
			.then(handleErrors)
			.then(r => r.json())
			.then(data => {
				console.log(data);
				getServers();
				hideForm();
			});
		}
		
		function getServers() {
			fetch('server/list')
			.then(handleErrors)
			.then(r => r.json())
			.then(r => {
				let l = document.getElementById('servers');
				if (r.length === 0) {
					l.innerHTML = '<p>You have no servers.</p>';
					return;
				}
				l.innerHTML = '';
				for (let x = 0; x < r.length; x++) {
					let p = document.createElement('p');
					p.innerHTML = JSON.stringify(r[x]);
					
					let a = document.createElement('a');
					a.innerHTML = 'start';
					a.href = 'javascript:void(0);';
					a.onclick = function() {
						fetch(`server/start/${r[x].server_id}`)
						.then(handleErrors)
						.then(data => console.log('starting server', data));
					}
					
					let d = document.createElement('div');
					d.appendChild(a);
					d.appendChild(p);
					
					l.appendChild(d);
				}
			});
		}
		
		const hideForm = () => document.getElementById(FORM).style.display = 'none';
		const showForm = () => document.getElementById(FORM).style.display = 'block'; 
		
        window.onload = function() {
        	getServers();
        	
          	let a = document.getElementById('new');
	        a.onclick = function() {
	        	showForm();
	            return false;
          	}
	        a = document.getElementById('closeForm');
	        a.onclick = function() {
	        	hideForm();
	        	return false;
	        }
        }
	</script>
</head>
<body>
	All your servers boi
	
	<a id="new" href="javascript:void(0);">New Server</a>
		
	<div id="serverForm" style="display:none">
		<div>
			Server creation
			<a id="closeForm" href="javascript:void(0);">Close</a>
		</div>
		
		<div>
			<label for="name">
				Server Name:
				<input type="text" id="name" />
			</label>
			<label for="region">
				Region:
				<input type="text" id="region" />
			</label>
			<label for="size">
				Size:
				<input type="text" id="size" />
			</label>
			<label for="snapshot">
				From Snapshot:
				<input type="text" id="snapshot" />
			</label>
			<label for="ssh">
				SSH Key:
				<input type="text" id="ssh" />
			</label>
			<input type="submit" onclick="createServer()" />
		</div>
	</div>
	
	<pre id="servers"></pre>
</body>
</html>